@model Entity_Example.Models.tbl_People
@{
    ViewBag.Title = "create";
}

<h2>Add New User</h2>
<hr />
<form action="/home/create" method="post">
    <dl class="dl-horizontal">
        <dt>
            Name:
        </dt>
        <dd>
            <input type="text" class="form-control" name="Name" />
        </dd>
        <dt>
            Email:
        </dt>
        <dd>
            <input type="email" class="form-control" name="Email" />
        </dd>
        <dt>
            website:
        </dt>
        <dd>
            <input type="url" class="form-control" name="webSite" />
        </dd>
        <dt>

        </dt>
        <dd>
            <input type="submit" class="btn btn btn-success" value="Save" />

        </dd>

    </dl>

</form>

