@model Entity_Example.Models.tbl_People
@{
    ViewBag.Title = "edit";
}

<h2>edit</h2>
<hr />
<form action="/home/edit" method="post">
<input type="hidden" name="Id" value="@Model.Id" />
<dl class="dl-horizontal">
    <dt>
        Name:
    </dt>
    <dd>
        <input type="text" class="form-control" name="Name" value="@Model.Name" />
    </dd>
    <dt>
        Email:
    </dt>
    <dd>
        <input type="email" class="form-control" name="Email" value="@Model.email" />
    </dd>
    <dt>
        website:
    </dt>
    <dd>
        <input type="url" class="form-control" name="webSite" value="@Model.website" />
    </dd>
    <dt>
       
    </dt>
    <dd>
        <input type="submit" class="btn btn btn-success" value="Save" />

    </dd>

</dl>

</form>


